.bicycle {
  background-color: #fff;
  padding: 3.5rem 0 3rem;
  &-wrap {
    height: 600px;
    padding-top: 20px;
  }
  &-btn {
    border-radius: 1.563rem;
    color: #c2c2c2;
    font-family: 'Roboto';
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 12px 0;
    margin-left: 25px;
    margin-bottom: 20px;
    width: 170px;
    display: inline-block;
    text-align: center;
    border: 0.063rem solid #ddd;
    background-color: #fff;
    outline: none;
    &:hover {
      cursor: pointer
    }
    &_wrap {
      text-align: center;
    }
  }
  &-ico {
     background: url(../img/ico-plus.png) no-repeat;
     width: 28px;
     height: 28px;
     display: inline-block;
     position: relative;
     &:focus {
      background: url(../img/ico-active.png) no-repeat;
     }
  }
}

.active-b {
  border-radius: 1.563rem;
  background-color: #004ed0;
  color: #fff;
  font-family: 'Roboto';
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 12px 0;
  margin-left: 25px;
  width: 170px;
  display: inline-block;
  text-align: center;
}

.none{
  display: none;
}


.owl-theme .owl-nav [class*=owl-]{
  background: #004ed0 !important;
  position: absolute;
  top: 10rem;
  font-size: 0 !important;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 100% !important;
}

.owl-theme .owl-nav .owl-prev {
  left: -4rem;
  background: #dedede transparent url(../img/ico-arrow.png) no-repeat center center !important;
  transform: rotate(180deg);
  &:hover{
    background: #004ed0 transparent url(../img/ico-arrow.png) no-repeat center center !important;
  }
}

.owl-theme .owl-nav .owl-next {
  right: -4rem;
  background: #dedede transparent url(../img/ico-arrow.png) no-repeat center center !important;
  &:hover{
    background: #004ed0 transparent url(../img/ico-arrow.png) no-repeat center center !important;
  }
}

.carousel-title {
  color: #1e1e1e;
  font-size: 40px;
  font-weight: 400;
  margin-top: 25px;
  line-height: 1;
  height: 6rem;
  font-family: 'PFBeauSansPro-Regular', sans-serif, Arial, Helvetica, sans-serif;
}

.carousel-text {
  font-size: 16px;
  color: #1e1e1e;
  line-height: 1.5;
  height: 10rem;
}

.carousel-btn {
  border-radius: 1.563rem;
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Roboto';
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 12px 0;
  max-width: 360px;
  display: block;
  text-align: center;
  &:hover {
    opacity: .8;
  }
}

.carousel-counter {
  color: #1e1e1e;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  small {
    font-size: 14px;
    position: relative;
    top: -8px
  }
}
.owl-carousel .owl-item img {
  width: 250px !important;
  margin: 0 auto;
}

.owl-dots{
  display: none;
}