.footer {
  background: #003BBF url(../img/footer-bg.png) repeat-y;
  background-size: cover;
  &-text {
    color: rgba(255, 255, 255, 0.7);
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    padding-top: 4.5rem;
    padding-bottom: 5.6rem;
    text-align: center;
    a {
      color: inherit;
      font-weight: bold;
    }
  }
}
