.header {
  background: #003BBF url(../img/banner-top_2560.jpg) repeat-y;
  background-size: cover;
  max-height: 560px;
  height: 100%;
  &-wrap{
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding-top: 10px;
    // background: url(../img/header-man.png) no-repeat;
    background-position: right top;
  }
  &-logo{
    padding: 0 5px;
  }
  &-shop {
    // background: #c32a4b;
    border: 1px solid #ffffff;
    color: #fff;
    opacity: 0.5;
    text-align: center;
    border-radius: 30px;
    box-shadow: 1px 1px 1px rgba(142,27,52,.5);
    font-size: 0.75rem;
    padding: 13px 0;
    width: 215px;
    float: right;
    @include MQ(xs) {
      font-size: 1rem;
      margin-top: 15px;
      flex-grow: 1;
    }
    &:hover {
      opacity: 1;
    }
    // &:hover {
    //   background-color: #ff5534;
    //   background-image: -webkit-linear-gradient(#ff5534 0,#e4003a 100%);
    //   background-image: linear-gradient(#ff5534 0,#e4003a 100%);
    // }
  }
  &-text_wrap{
    max-width:  468px;
    padding: 6.5rem 0;
  }
  &-text_title{
    color: $fff;
    font-size: 2.625rem;
    font-weight: 300;
    line-height: 3.063rem;
    padding-bottom: 2rem;
    font-family: 'pf_beausans_prolight', sans-serif;
    span {
      font-weight: bold;
    }
  }
  &-text_desc{
    color: $fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    max-width:  370px;
    line-height: 24px;
  }

}

.header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    // padding: 20px 0;
    @include MQ(xs) {
      // padding: 20px 5px;
      padding-left: 10px;
      padding-right: 10px;
    }

  &__logo {
    @include MQ(xs) {
      margin: 0 auto;
    }
  }
  &__shop {
    // background: #c32a4b;
    border: 1px solid #fff;
    color: #fff;
    opacity: .5;
    text-align: center;
    border-radius: 30px;
    box-shadow: 1px 1px 1px rgba(142,27,52,.5);
    font-size: 0.75rem;
    padding: 13px 0;
    width: 215px;
    @include MQ(xs) {
      font-size: 1rem;
      margin-top: 15px;
      flex-grow: 1;
    }
    &:hover {
      // background-color: #ff5534;
      // background-image: -webkit-linear-gradient(#ff5534 0,#e4003a 100%);
      // background-image: linear-gradient(#ff5534 0,#e4003a 100%);
      opacity: 1
    }
  }
}