include blocks/head-service/head
include common/mixins
include common/js


body
	header.header
		.container
			.header-wrap
				a.header-logo(href="https://www.ulmart.ru/", target="_blank")
					img(src="img/ulmart-logo-white.png", alt="logo")
				//- a(href="https://www.ulmart.ru/", target="_blank") Перейти к покупкам на ulmart.ru
				.header-text_wrap
					h1.header-text_title Важные аксессуары для идеальных поездок
					p.header-text_desc Мало выбрать хороший велосипед — нужно подготовить его к любым сюрпризам на дороге. Чтобы любая ваша поездка доставляла максимум удовольствия и минимум проблем, рассказываем о самых нужных велосипедных аксессуарах. Прокачайте своего железного друга — и вперёд, к приключениям!
	section.bicycle
		.container
			.row
				.col-xs-12.col-sm-7
					.bicycle-btn_wrap
						button.bicycle-btn.tab Аксессуары
						button.bicycle-btn.tab2 Экипировка
						button.bicycle-btn.active-b.tab3 Запчасти
					.bicycle-wrap
						.bicycle-accessories.none
							img(src="img/main_bicycle.jpg", alt="")
							each item, number in data.slice(0,12)
								+icons(item)
						.bicycle-equipment.none
							img(src="img/main_bicycle2.png", alt="")
							each item, number in data.slice(12,25)
								+icons(item)
						.bicycle-parts.tab3
							img(src="img/main_bicycle3.jpg", alt="")
							each item, number in data.slice(25,31)
								+icons(item)
				.col-xs-12.col-sm-5
					.owl-carousel.owl-theme(style="max-width: 360px;margin: 0 auto;")
						each item, number in data.slice(0,31)
							+carousel-item(item)


	section.help
		.container
			.row
				.col-xs-12.col-sm-9
					h3.help-title Ещё не подобрали себе велосипед?  
						small.help-title_small Отправьте ваши пожелания и мы подберем его для вас!
				.col-xs-12.col-sm-3
					a(href="#" class="help-btn") Отправить

	section.access
		.container
			h2.access-title Дополнительные аксессуары
			.row
				each item, number in data2.slice(0,4)
					+access(item)
			.row
				each item, number in data2.slice(4,6)
					+access(item)

			a.access-btn(href="#") Смотреть все велоаксессуары

	section.advice
		.container
			h3.advice-title Советы по подбору
			.row
				each item, number in data3.slice(0,4)
					+advice(item)
			.row
				each item, number in data3.slice(4,8)
					+advice(item)
	+footer()


	include blocks/footer-service/footer-service
