include blocks/head-service/head
include common/mixins
include common/js


body
	header.header
		.container
			.header-wrap
				.header-btn
					a.header-btn__logo(href="https://www.ulmart.ru/", target="_blank")
						img(src="img/ulmart-logo-white.png", alt="logo")
					a.header-btn__shop(href="https://www.ulmart.ru/", target="_blank") Перейти к покупкам на ulmart.ru
				.header-text_wrap
					h1.header-text_title 
						span Важные
						|  аксессуары для идеальных поездок
					p.header-text_desc Мало выбрать хороший велосипед — нужно подготовить его к любым сюрпризам на дороге. Чтобы любая ваша поездка доставляла максимум удовольствия и минимум проблем, рассказываем о самых нужных велосипедных аксессуарах. Прокачайте своего железного друга — и вперёд, к приключениям!
	section.bicycle
		.container
			.row
				.col-xs-12.col-sm-12.col-md-8
					.bicycle-btn_wrap
						button.bicycle-btn.tab Аксессуары
						button.bicycle-btn.tab2 Экипировка
						button.bicycle-btn.active-b.tab3 Запчасти
					.bicycle-wrap
						.bicycle-accessories.none
							each item, number in data.slice(0,14)
								+icons(item)
						.bicycle-equipment.none
							each item, number in data_b.slice(0,4)
								+icons_b(item)
						.bicycle-parts.tab3
							each item, number in data_c.slice(0,12)
								+icons_c(item)
				.col-xs-12.col-sm-12.col-md-4
					.owl-carousel.owl-theme(style="max-width: 360px;margin: 0 auto;")
						each item, number in data.slice(0,14)
							+carousel-item(item)
						each item, number in data_b.slice(0,4)
							+carousel-item_b(item)
						each item, number in data_c.slice(0,12)
							+carousel-item_c(item)

	section.help
		.container
			.help-wrap
				h3.help-title Ещё не подобрали себе велосипед?  
					small.help-title_small Мы вам поможем!
				a(href="http://www.ulmart.ru/bikeconfigurator?sort=0&viewType=1&rec=false" target="_blank" class="help-btn") Подобрать

	section.access
		.container
			h2.access-title 
				span Дополнительные
				|  аксессуары
			//- .row
			//- 	each item, number in data2.slice(0,4)
			//- 		+access(item)
			//- .row
			//- 	each item, number in data2.slice(4,7)
			//- 		+access(item)
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-8
					.access-cards
						.access-cards_info
							h2.access-cards_title Уход за велосипедом
							p.access-cards_desc Для долгой службы. Позволяет ухаживать за велосипедом, обеспечивая чистоту и уменьшение износа механических деталей.
							a.access-cards_btn(href="http://www.ulmart.ru/catalog/velozapcasti_1_27398_376758" target="_blank") Выбрать
						.access-cards_img
							a(href="http://www.ulmart.ru/catalog/velozapcasti_1_27398_376758" target="_blank")
								img(src="img/access-1.png", width="330" alt="")

					.access-cards
						.access-cards_img
							a(href="https://www.ulmart.ru/catalog/95307_27398_307100" target="_blank")
								img(src="img/access-2.png", width="300"  alt="")
						.access-cards_info
							h2.access-cards_title Рога
							p.access-cards_desc Для правильного распределения нагрузки. Позволят менять положение рук на руле и равномерно распределять нагрузку на плечи.
							a.access-cards_btn(href="https://www.ulmart.ru/catalog/95307_27398_307100" target="_blank") Выбрать
				.col-xs-12.col-sm-12.col-md-12.col-lg-4
					.access-cards
						.access-cards_img
							a(href="http://www.ulmart.ru/catalog/kreplenia_dla_velosipedov_1?sort=0&viewType=1&rec=true" target="_blank")
								img(src="img/access-3.png", width="379" alt="")
						.access-cards_info
							h2.access-cards_title Крепление
							p.access-cards_desc Для фиксации рамы и колёс. Позволяет надежно закрепить раму велосипеда благодаря регулируемому зажиму.
							a.access-cards_btn(href="http://www.ulmart.ru/catalog/kreplenia_dla_velosipedov_1?sort=0&viewType=1&rec=true" target="_blank") Выбрать
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-6
					.access-cards
						.access-cards_info
							h2.access-cards_title Велоинструмент
							p.access-cards_desc Для ремонта и настройки велосипеда. Благодаря компактным размерам и малому весу занимает минимум пространства.
							a.access-cards_btn(href="http://www.ulmart.ru/catalog/veloinstrumenty_1" target="_blank") Выбрать
						.access-cards_img
							a(href="http://www.ulmart.ru/catalog/veloinstrumenty_1" target="_blank")
								img(src="img/access-4.png", width="219" alt="")
				.col-xs-12.col-sm-12.col-md-12.col-lg-6
					.access-cards
						.access-cards_info
							h2.access-cards_title Детская защита
							p.access-cards_desc Для безопасного и активного отдыха. Плотно облегает, удобно и быстро надевается и снимается. 
							a.access-cards_btn(href="https://www.ulmart.ru/catalog/zasita_slemy_nakolenniki_nalokotniki_naladonniki_1?sort=0&viewType=1&rec=true" target="_blank") Выбрать
						.access-cards_img
							a(href="https://www.ulmart.ru/catalog/zasita_slemy_nakolenniki_nalokotniki_naladonniki_1?sort=0&viewType=1&rec=true")
								img(src="img/access-5.png", width="200" alt="")

			a.access-btn(href="http://www.ulmart.ru/catalog/veloaksessuary_1?sort=5&viewType=0&rec=true" target="_blank") Смотреть все велоаксессуары

	section.advice
		.container
			h3.advice-title 
				span Советы
				|  по подбору аксессуаров
			.row
				each item, number in data3.slice(0,9)
					+advice(item)
	+footer()


	include blocks/footer-service/footer-service
