*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	max-width: 100%;
	height: auto;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}

body, html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: normal;
	min-width: 320px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased;
}

$fff: #ffffff;

h1,h2,h3,h4,p {
	margin: 0
}

a {
	text-decoration: none;
}

.container{
	max-width: 1170px;
}


@font-face {
    font-family: 'pf_beausans_prolight';
    src: url('https://fast.ulmart.ru/ns/verstka/bike-accessories/fonts/pfbeausanspro-light-webfont.woff2') format('woff2'),
         url('https://fast.ulmart.ru/ns/verstka/bike-accessories/fonts/pfbeausanspro-light-webfont.woff') format('woff'),
         url('https://fast.ulmart.ru/ns/verstka/bike-accessories/fonts/pfbeausanspro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_proregular';
    src: url('https://fast.ulmart.ru/ns/verstka/bike-accessories/fonts/pfbeausanspro-reg-webfont.woff2') format('woff2'),
         url('https://fast.ulmart.ru/ns/verstka/bike-accessories/fonts/pfbeausanspro-reg-webfont.woff') format('woff'),
         url('https://fast.ulmart.ru/ns/verstka/bike-accessories/fonts/pfbeausanspro-reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_prosemibold';
    src: url('https://fast.ulmart.ru/ns/verstka/bike-accessories/fonts/pfbeausanspro-sebold-webfont.woff2') format('woff2'),
         url('https://fast.ulmart.ru/ns/verstka/bike-accessories/fonts/pfbeausanspro-sebold-webfont.woff') format('woff'),
         url('https://fast.ulmart.ru/ns/verstka/bike-accessories/fonts/pfbeausanspro-sebold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// .layout_center_wrapper-project {
// 	/* min-width: 1210px; */
// 	width: 100%;
// 	margin: 0 auto;
// 	position: relative;
// 	//min-height: 100%;
// 	overflow: hidden;
// 	flex: 1 0 auto;
// }

//Внутренний контейнер
// .container__inner{
// 	background-color: #fff;
// 	width: 100%;
// 	margin: 0 auto;
// 	min-height: 100%;
// 	overflow: hidden;
// 	max-width: 1200px;
// }
